 .u-section-1 {
  min-height: 643px;
}

.u-section-1 .u-image-1 {
  height: 668px;
  margin-top: 0;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 60px;
}